.clock-container-preview{
  background-image: url("/Space-Time.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  height: 200px;

  /* backdrop-filter: blur(5px); */
  display: flex;
  justify-content: center;
  align-items: center;
/* 
  backdrop-filter: blur(5px); */
  background-color: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 25px 15px rgba(0, 0, 0, 0.30);
}

.clock-date-container{
    backdrop-filter: blur(5px);
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
    background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 0px 25px 10px rgba(0, 0, 0, 0.30);
}

.clockPreview{
  display: block;
  color: aliceblue; 
  font-size: 1rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
}

.datePreview{
  display: block;
  color: aliceblue; 
  font-size: 0.7rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.75);
}