.to-do-list-preview{
  /* text-align: center; */
  background-image: url("/todolist.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  min-height: 160px;

}

.to-do-list-preview h1 {
  color: rgb(0, 0, 0);
  margin: 0;
  padding-top: 30px;
  margin-bottom: 20px;
  font-size: 0.8rem;
}

.to-do-list-preview button {
  font-size: 0.8rem;
  font-weight: bold;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.to-do-list-preview .add-button {
  background-color: rgb(89, 211, 85);
  margin-left: 10px;
}

.to-do-list-preview .add-button:hover {
  background-color: rgb(76, 176, 58);
}

.to-do-list-preview .delete-task {
  background-color: rgb(255, 67, 67);
  font-size: 0.6rem;
}

.to-do-list-preview .delete-task:hover {
  background-color: rgb(220, 59, 59);
}

.to-do-list-preview .move-task-preview {
  background-color: transparent;
  color: black;
  padding: 0;
  margin: 0 10px 0 10px;
}

.to-do-list-preview .move-task-preview:hover {
  background-color: rgb(62, 161, 227);
}

.to-do-list-preview input[type='text'] {
  font-size: 0.8rem;
  padding: 10px;
  border: 2px solid rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  color: rgba(255, 244, 244, 0.5);
}
.to-do-list-preview .input-section{
  padding-bottom: 20px;
  margin-bottom: 1px;
  border-bottom: 1px solid rgb(208, 0, 255);
}
.to-do-list-preview ol {
  padding: 0;
}

.to-do-list-preview li {
  font-size: 0.2rem;
  font-weight: bold;
  padding-bottom: 10px;
  background: transparent;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(76, 76, 76);
  border-radius: 10px;
  display: flex;
  /* align-items: center; */

}

.to-do-list-preview .text {
  flex: 1;
  padding-top: 6px;
  font-size: 0.6rem;
  color: black;
}
.delete-task, .move-task {
  padding: 8px 12px;
  margin-left: 10px;
}