.projectCard {
  background-color: transparent;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.projectPreview{
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.30);
}

.projectCard a {
  /* display: block; */
  margin: 10px 10px 0px 10px;
  color: #007bff;
  text-decoration: none;
}

.projectCard a:hover {
  text-decoration: underline;
}
.projectCard p{
  font-size: 0.8rem;
}
.projectCard h3,p{
  color: black;
}

